[submodule "Dependencies/FreeRTOS-Kernel"]
	path = Dependencies/FreeRTOS-Kernel
	url = https://github.com/raspberrypi/FreeRTOS-Kernel.git
[submodule "Dependencies/pico-sdk"]
	path = Dependencies/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "Dependencies/picotool"]
	path = Dependencies/picotool
	url = https://github.com/raspberrypi/picotool.git
[submodule "Dependencies/openocd"]
	path = Dependencies/openocd
	url = https://github.com/raspberrypi/openocd.git
	branch = sdk-2.0.0
[submodule "Dependencies/debugprobe"]
	path = Dependencies/debugprobe
	url = https://github.com/raspberrypi/debugprobe.git
